.navbar-main {
  padding: $spacer;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  .wrapper-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  a {
    color: $gray-500;
  }
  .navbar-toggler-icon {
    background-color: $white;
  }
  .nav-side {
    margin-top: $spacer * 2;
    padding-left: $spacer/2;
    list-style: none;
    li {
      &.active {
        a {
          padding-left: 10px;
          &::before {
            content: "";
            width: 70px;
          }
        }
      }
      a {
        padding-left: 0;
        padding-right: 0;
        padding-top: $spacer;
        padding-bottom: $spacer;
        position: relative;
        @include transition(padding-left 0.3s ease-in-out);
        &::before {
          @include transition(width 0.3s ease-in-out);
          content: "";
          z-index: -1;
          height: 1px;
          width: 0;
          background-color: $primary;
          position: absolute;
          left: -$spacer*1.5;
          top: 50%;
          @include translate(0, 50%);
        }
        &:hover {
          padding-left: 10px;
          &::before {
            width: 70px;
          }
        }
      }
    }
  }
  .navbar-footer {
    position: relative;
    padding-left: $spacer * 2.5;
    .copyright {
      width: 270px;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 75%;
      transform: rotate(-90deg) translate(130px, -120px);
      color: $gray-600;
    }
    .sosmed {
      a {
        padding: $spacer/2;
        font-size: $font-size-base * 1.5;
      }
    }
  }
}
.posrel {
  position: relative;
}
.wrapper {
  padding-left: 330px;
  padding-right: $spacer * 2;
}
.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: $font-size-base * 7;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    img{
      position: absolute;
      right: -$spacer*3;
      top: -$spacer*3;
      width: 300px;
      z-index: -1;
    }
  }
}
section {
  min-height: 100vh;
  padding: ($spacer * 4) 0;
}
.title {
  position: relative;
  > span {
    display: inline-block;
    background-color: $gray-900;
    position: relative;
    z-index: 2;
    padding-right: $spacer;
    text-transform: uppercase;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    background: $primary;
    width: 100%;
    height: 1px;
  }
}
.artwork {
  display: flex;
  flex-wrap: wrap;
  .artwork-thumb {
    border: solid 1px $gray-900;
    display: block;
  }
}
.finalart {
  color: $gray-900;
  margin: auto;
  width: 700px;
}
