.navbar-main {
  padding: $spacer;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  .wrapper-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  a {
    color: $gray-500;
  }
  .navbar-toggler-icon {
    background-color: $white;
  }
  .nav-side {
    margin-top: $spacer * 2;
    padding-left: $spacer/2;
    list-style: none;
    li {
      &.active {
        a {
          color: $white;
          padding-left: 10px;
          &::before {
            content: "";
            width: 70px;
          }
        }
      }
      a {
        padding-left: 0;
        padding-right: 0;
        padding-top: $spacer;
        padding-bottom: $spacer;
        position: relative;
        @include transition(padding-left 0.3s ease-in-out);
        &::before {
          @include transition(width 0.3s ease-in-out);
          content: "";
          z-index: -1;
          height: 1px;
          width: 0;
          background-color: $primary;
          position: absolute;
          left: -$spacer * 1.5;
          top: 50%;
          @include translate(0, 50%);
        }
        &:hover {
          padding-left: 10px;
          &::before {
            width: 70px;
          }
        }
      }
    }
  }
  .navbar-footer {
    position: relative;
    padding-left: $spacer * 2.5;
    .copyright {
      width: 270px;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 75%;
      transform: rotate(-90deg) translate(130px, -120px);
      color: $gray-600;
    }
    .sosmed {
      a {
        padding: $spacer/2;
        font-size: $font-size-base * 1.5;
      }
    }
  }
}
.posrel {
  position: relative;
}
.wrapper {
  padding-left: 330px;
  padding-right: calc($spacer * 3);
}
.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: $font-size-base * 7;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    img {
      position: absolute;
      right: -$spacer * 3;
      top: -$spacer * 3;
      width: 300px;
      z-index: -1;
    }
  }
}
section {
  min-height: 100vh;
  padding: ($spacer * 4) 0;
}
.title {
  position: relative;
  font-weight: 900;
  > span {
    display: inline-block;
    background-color: $gray-900;
    position: relative;
    z-index: 2;
    padding-right: $spacer;
    text-transform: uppercase;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    background: $primary;
    width: 100%;
    height: 1px;
  }
}
.artworks {
  .artwork-thumb {
    display: block;
    color: $white;
    margin-bottom: $spacer*2;
    h5 {
      margin-top: $spacer;
    }
    p {
      color: $gray-600;
    }

    .wrapper-thumb {
      overflow: hidden;
      height: 350px;
      img {
        @include transition(all ease-in-out 0.3s);
        width: 100%;
      }
    }
    &:hover img {
      @include scale(1.1);
    }
  }
}
.finalart {
  color: $gray-900;
  margin: auto;
  width: 700px;
}
.showcase {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-color: $gray-900;
  z-index: 1020;
  overflow-y: auto;
}
.container-showcase {
  width: 900px;
  margin: auto;
  .showcase-card {
    margin:  0 auto ($spacer * 3);
    background-color: $gray-800;
    @include box-shadow(15px 15px 0 rgba(0, 0, 0, 0.15));
  }
  .showcase-heading {
    padding: $spacer * 2;
  }
  p {
    color: $gray-500;
  }
  @include media-breakpoint-down(sm){
    width: 100%;
  }
}
.back-showcase{
  backdrop-filter: blur(5px); 
  background-color: rgba($secondary, .8);
}