.navbar-main {
  padding: $spacer;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  flex-direction: column;
  align-items: normal;
  @include media-breakpoint-down(sm) {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
  }
  .wrapper-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 76px);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    @include media-breakpoint-down(sm) {
      position: fixed;
      right: -100%;
      top: 92px;
      height: calc(100% - 92px);
      width: 200px;
      background-color: rgba($gray-900, 0.8);
      backdrop-filter: blur(5px);
      padding-left: calc($spacer * 1);
      &.open {
        right: 0;
      }
    }
  }

  a {
    color: $gray-500;
  }
  .navbar-toggler {
    width: 50px;
    height: 50px;
    display: none;
    position: relative;
    &:focus {
      outline: none;
    }
    .navbar-toggler-icon {
      background-color: $white;
      height: 4px;
      width: 50px;
      position: absolute;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      left: 0;
      &:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 18px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 36px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
    @include media-breakpoint-down(sm) {
      display: inline-block;
      &.open .navbar-toggler-icon:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 4px;
        left: 7px;
      }

      &.open .navbar-toggler-icon:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &.open .navbar-toggler-icon:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 40px;
        left: 7px;
      }
    }
  }

  .nav-side {
    margin-top: $spacer * 2;
    padding-left: $spacer/2;
    list-style: none;
    li {
      &.active {
        a {
          color: $white;
          padding-left: 10px;
          &::before {
            content: "";
            width: 70px;
          }
        }
      }
      a {
        padding-left: 0;
        padding-right: 0;
        padding-top: $spacer;
        padding-bottom: $spacer;
        position: relative;
        @include transition(padding-left 0.3s ease-in-out);
        &::before {
          @include transition(width 0.3s ease-in-out);
          content: "";
          z-index: -1;
          height: 1px;
          width: 0;
          background-color: $primary;
          position: absolute;
          left: -$spacer * 1.5;
          top: 50%;
          @include translate(0, 50%);
        }
        &:hover {
          padding-left: 10px;
          &::before {
            width: 70px;
          }
        }
      }
    }
  }
  .navbar-footer {
    position: relative;
    padding-left: $spacer * 2.5;
    padding-bottom: $spacer;
    .copyright {
      width: 270px;
      position: absolute;
      left: 0;
      bottom: $spacer;
      font-size: 75%;
      transform: rotate(-90deg) translate(130px, -120px);
      color: $gray-600;
    }
    .sosmed {
      display: flex;
      margin-bottom: -$spacer/2;
      a {
        padding: $spacer/2;
        font-size: $font-size-base * 1.5;
      }
    }
  }
}
.posrel {
  position: relative;
}
.wrapper {
  padding-left: 330px;
  padding-right: calc($spacer * 3);
  @include media-breakpoint-down(sm) {
    padding-top: 68px;
    padding-left: calc($spacer * 1);
    padding-right: calc($spacer * 1);
  }
}
.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h1 {
    font-size: $font-size-base * 10;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    img {
      position: absolute;
      right: -$spacer * 3;
      top: -$spacer * 3;
      width: 350px;
      z-index: -1;
    }
  }
  @include media-breakpoint-down(sm) {
    h1 {
      font-size: $font-size-base * 5;
      margin-top: -$spacer * 10;
      img {
        right: $spacer;
        top: $spacer;
        width: 200px;
        z-index: -1;
      }
    }
  }
}
section {
  min-height: 100vh;
  padding: ($spacer * 6) 0;
}
.title {
  position: relative;
  font-weight: 900;
  margin-bottom: $spacer * 2;
  > span {
    display: inline-block;
    background-color: $gray-900;
    position: relative;
    z-index: 2;
    padding-right: $spacer;
    text-transform: uppercase;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    background: $primary;
    width: 100%;
    height: 1px;
  }
}
.artworks {
  .artwork-thumb {
    display: block;
    color: $white;
    margin-bottom: $spacer * 2;
    h5 {
      margin-top: $spacer;
    }
    p {
      color: $gray-600;
    }

    .wrapper-thumb {
      overflow: hidden;
      height: 400px;
      img {
        @include transition(all ease-in-out 0.3s);
        width: 100%;
      }
    }
    &:hover img {
      @include scale(1.1);
    }
  }
  @include media-breakpoint-down(sm) {
    .artwork-thumb {
      .wrapper-thumb {
        height: 350px;
      }
    }
  }
}
.finalart {
  color: $gray-900;
  margin: auto;
  width: 700px;
}
.showcase {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-color: $gray-900;
  z-index: 1020;
  overflow-y: auto;
}
.container-showcase {
  width: 1100px;
  margin: auto;
  .showcase-card {
    margin: 0 auto ($spacer * 4);
    background-color: $gray-800;
    @include box-shadow(15px 15px 0 rgba(0, 0, 0, 0.15));
  }
  .showcase-heading {
    padding: $spacer * 2;
  }
  p {
    color: $gray-500;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    .showcase-heading {
      h1 {
        font-size: calc($font-size-base * 2);
      }
    }
  }
}
.back-showcase {
  backdrop-filter: blur(5px);
  background-color: rgba($gray-900, 0.8);
}
.btn-contact {
  display: inline-flex;
  background-color: $gray-700;
  padding: $spacer;
  font-size: calc($font-size-base * 3);
  color: $white;
  transition: ease-in-out 0.3s;
  @include box-shadow(15px 15px 0 rgba(0, 0, 0, 0.15));
  &:hover {
    color: $white;
    @include box-shadow(0 0 0 rgba(0, 0, 0, 0.15));
  }
}

.scroll-animate-wrapper {
  position: absolute;
  bottom: $spacer * 2;
  left: 0;
  right: 0;
  opacity: 0.5;
  .field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
  }

  .mouse {
    width: 20px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 30px;
    position: relative;
    &::before {
      content: "";
      width: 6px;
      height: 6px;
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondary;
      border-radius: 50%;
      opacity: 1;
      animation: scroll 2s infinite;
      -webkit-animation: scroll 2s infinite;
    }
  }

  @keyframes scroll {
    to {
      opacity: 0;
      top: 25px;
    }
  }

  @-webkit-keyframes scroll {
    to {
      opacity: 0;
      top: 25px;
    }
  }
  @include media-breakpoint-down(sm) {
    bottom: $spacer * 8;
  }
}
.text-white-70 {
  color: rgba($white, 0.7);
}
.outline-text {
  color: $gray-900;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
